body {
  background-color: white;
  margin: 0;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 30px;
}

/* Header section */
.header {
  background-color: gold;
  border: 10px solid black;
  padding: 20px;
  font-size: 45px

}
dl {
  background-color: gold;
  border: 5px solid black;
  padding: 20px;
  width: 60%;
  margin: auto;
  font-family: Georgia, serif;
}

dt {
  font-weight: bold;
  color: navy;
  margin-top: 10px;
}

dd {
  margin-left: 20px;
  color: black;
}


